[Desktop Entry]
Encoding=UTF-8
Name=Bitcoin Core
Comment=Connect to the Predix P2P Network
Exec=Predix-qt %u
Terminal=false
Type=Application
Icon=Predix128
MimeType=x-scheme-handler/Predix;
Categories=Office;Finance;
